/*---------------- general styling -----------------*/
*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

/* body{
    overflow-y: hidden;
} */
/*------------------------- ending of general styling -----------------------------*/


/*-------------------------------- navigation bar ----------------------------------*/

.header{
    width: 98%;
    height: 5rem;
    overflow: hidden;
    margin: 0 auto;
    display: block;
}



ul.nav__list{
    float: right;
    list-style-type: none;
    padding: 1rem;
    font-size: 1.6rem;
    font-family: cursive;
    color: cornflowerblue;
}

.nav__list li{
    display: inline;
    padding-left: 2rem;
}

.logo{
    float: left;
    padding: .5rem;
    width:fit-content;
    font-family:cursive;
    font-size: 2rem;
    color: cornflowerblue;
}


.nav__list li a:link,
.nav__list li a:visited,
.nav__list li a:active{
    text-decoration: none;
    color:cornflowerblue;
    text-transform: capitalize;
    padding:2rem;
    font-family: Arial, Helvetica, sans-serif;
    transition: all .2s;
}

.nav__list li a:hover{
    background: cornflowerblue;
    color: #fff;
}


@media screen and (max-width: 1200px) { 
    ul.nav__list ,.logo{
        float: none;
        display: block;
        width: 98%;
        margin: 0 auto;
    }
    .header{
        width: 100%;
        height: 10rem;
        overflow: visible;
        text-align: center;
        margin: 1rem auto;
    }
    main{
        height:fit-content;
    }
    .nav__list li a:link,
    .nav__list li a:visited,
    .nav__list li a:active{
        padding:.5rem;
    }
  }

@media screen and (max-width : 860px ) {
    .nav__list li,.nav__list li a , ul.nav__list , .logo{
        float: none;
        display: block;
        width: 100%;
        margin: 0 auto;
        padding-left: 0;
    }
    .header{
        width: 100%;
        height: 25rem;
        overflow: hidden;
        text-align: center;
        margin: 0 auto;
    }
    .nav__list li{
        padding-left: 1rem;
    }
    .nav__list li a:link,
    .nav__list li a:visited,
    .nav__list li a:active {
        padding: 1rem;
        margin: 0 auto;
        border-radius: 1rem;
    }
    main{
        height:fit-content;
    }
}
/*------------------------ end of navigation bar styling------------------------------ */



/*----------------------------------- form container -------------------------------------*/

.form{
    width: 98%;
    margin: 5rem auto;
    border-radius: 2rem;
    /* background: #545454; */
    padding: 5rem;
}

#form_details{
    /* background: coral; */
    width: 80%;
    margin: .5rem auto;
    overflow: hidden;
    height: fit-content;
    padding: 2rem;
    border-radius: 2rem;
}

#form_details label{
    color: #545454;
    font-size: 1.6rem;
    font-family: sans-serif;
    text-transform: capitalize;
    margin-right: 1rem;
}

#form_details input,
#form_details input:focus{
    display: inline-block;
    margin-bottom: 1rem;
    border: .2rem solid #545454;
    font-size: 1.6rem;
    font-family: sans-serif;
    border-radius: .5rem;
    margin-left: 1rem;
    padding: .5rem;
    background: #fff;
    color: #444444;
    outline: none;
}

.select__currency {
    margin-bottom: 1rem;
}
  
.select__currency select {
    padding: .5rem;
    font-family: sans-serif;
    font-size: 1.6rem;  
    border-radius: .5rem;
    border: .2rem solid #545454;
    background: #fff;
    color: #444444;
}

@media screen and ( max-width : 550px) {
    .form{
        width: 98%;
        margin: 5rem auto;
        border-radius: 2rem;
        padding: 0;
    }
    
    #form_details{
        width: 100%;
        margin: .5rem auto;
        overflow: hidden;
        height: fit-content;
        padding: 2rem;
        border-radius: 2rem;
    }
    
    #form_details label{
        width: 100%;
        display: block;
        color: #545454;
        font-size: 1.6rem;
        font-family: sans-serif;
        text-transform: capitalize;
        margin-right: 1rem;
    }
    
    #form_details input,
    #form_details input:focus{
        width: 100%;
        display: block;
        margin-bottom: 1rem;
        border: .2rem solid #545454;
        font-size: 1.6rem;
        font-family: sans-serif;
        border-radius: .5rem;
        margin-left: 1rem;
        padding: .5rem;
        background: #fff;
        color: #444444;
        outline: none;
    }
    
    .select__currency {
        margin-bottom: 1rem;
        width: 100%;
        display: block;
    }

    #form_details input [type="file"]{
        width: 100%;
    }
      
    .select__currency select {
        width: 100%;
        display: block;
        padding: .5rem;
        font-family: sans-serif;
        font-size: 1.6rem;
        border-radius: .5rem;
        border: .2rem solid #545454;
        color: #444444;  
    }
}


/*------------------------------------ end of form container styling ---------------------------------*/



/*------------------------------------- button styling ----------------------------------------*/


.submitbtn{
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    background: #545454;
    color: #fff;
    float: right;
    cursor: pointer;
    font-size: 1.6rem;
    transition: all .2s;
    margin: 1rem;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
}

.submitbtn:hover{
    transform: scale(1.1);
}

.submitbtn:active{
    transform: scale(.9);
}


.submitbtn a:active,
.submitbtn a:link,
.submitbtn a:focus{
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
}

.btn:hover{
    transform:scale(1.1);
}

.btn:active{
    transform: scale(.9);
}

/*----------------------------------------- ending of button styling ----------------------------------*/


/*--------------------------------------- canvas styling -----------------------------------*/

#canvas{
    border: thin solid #545454;
    margin: 0 auto;
    cursor: pointer;    
}

.canvas__container{
    width: 99%;
    height: 88vh;
    margin: 1rem auto;
    overflow-y: scroll;
    overflow-x: hidden;
}

.canvas__container::-webkit-scrollbar {
    width: 1rem;
  }
   
.canvas__container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(4, 102, 248, 0.911);
  }
   
.canvas__container::-webkit-scrollbar-thumb {
    background-color: rgb(101, 182, 248);
    outline: 1px solid rgb(73, 138, 202);
    border-radius: 2rem;
}


/*----------------------------------- ending of canvas styling ------------------------------------*/
/*----------------------------------------- popup styling -----------------------------------------*/
.popUp{
    z-index: 1000;
    padding: 1rem;
    border: .1rem solid #545454;
    border-radius: 1rem;
    background: #f9f9f9;
}

.popUp a{
    color: cornflowerblue;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
}

/*------------------------------------ popUp styling end ------------------------------------------*/

/*--------------------------------------- error container styling ------------------------------*/
.error{
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgba(252, 137, 137, 0.733);
  width:40%;
  text-align: center;
  border: .1rem solid  #ff0000;
  border-radius: 1rem;
  padding: 1rem;
  color: #545454;
  text-transform: capitalize;
  font-size: 1.1rem;
  margin: 1rem auto;
  font-family: sans-serif;
  box-shadow: 0rem 0rem .9rem .1rem #ff0000;
}


@media screen and ( max-width : 1000px ){
    .error{
        position: absolute;
        top: 22%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: rgba(252, 137, 137, 0.733);
        width:70%;
        text-align: center;
        border: .1rem solid  #ff0000;
        border-radius: 1rem;
        padding: 1rem;
        color: #545454;
        text-transform: capitalize;
        font-size: 1.1rem;
        margin: 1rem auto;
        font-family: sans-serif;
        box-shadow: 0rem 0rem .9rem .1rem #ff0000;
      }   
}

@media screen and ( max-width : 860px ){
    .error{
        position: absolute;
        top: 38%;
        left: 50%;
        transform: translate(-50%,-50%);
        background:rgba(252, 137, 137, 0.733);
        width:70%;
        text-align: center;
        border: .1rem solid  #ff0000;
        border-radius: 1rem;
        padding: 1rem;
        color: #545454;
        text-transform: capitalize;
        font-size: 1.1rem;
        margin: 1rem auto;
        font-family: sans-serif;
        box-shadow: 0rem 0rem .9rem .1rem #ff0000;
      }   
}
#form_details input.invalid{
    border: .2rem solid #ff0000;
}

/*---------------------- ending of error container styling --------------------------*/


/*----------------------------- checkout container styling -------------------------*/
.checkout__container{
    width: 60%;
    height: 80vh;
    margin: 4rem auto;
    padding: 5rem;
}

.product{
    border-radius: 1rem;
    width: 45%;
    height: 100%;
    float: left;
    overflow: hidden;
    padding: 1rem;
    text-align: center;
    border: .2rem solid cornflowerblue;
    margin-right: 10%;
    cursor: pointer;
    transition: all .2s;
}

.description:hover , .product:hover{
    transform: scale(1.1);
    box-shadow: 0 0 1rem 1rem cornflowerblue;
}


.product  img {
    box-shadow: 0 0 1rem 1rem #545454;
    width: 80%;
    border-radius: 1rem;
    margin: 14rem auto;
}

.description{
    width: 45%;
    height: 100%;
    float: left;
    overflow: hidden;
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    color: cornflowerblue;
    text-transform: capitalize;
    font-family: sans-serif;
    border: .2rem solid cornflowerblue;
    border-radius: 1rem;
    cursor: pointer;
    transition: all .2s;
}

.description ul{
    list-style: none;
    margin-bottom: 5rem;
}

.description li{
    margin-bottom: 2rem;
}

#checkout-button,#checkout-button:active{
    border: none;
    width: 80%;
    border-radius: .5rem;
    background: cornflowerblue;
    color: #fff;
    font-size: 1.6rem;
    font-family: sans-serif;
    padding: 1rem;
    cursor: pointer;
    transition: all .2s;
}

#checkout-button:hover{
    transform: scale(1.1);
}

#checkout-button:active{
    outline: none;
    transform: scale(.9);
}

@media screen and (max-width : 1200px ) {
    .checkout__container{
        width: 90%;
        height: 80vh;
        margin: 1rem auto;
        padding: 5rem;
    }
}

@media screen and (max-width : 860px) {
    .checkout__container{
        width: 98%;
        height: 65vh;
        margin: 1rem auto;
        padding: 1rem;
    }
    .description:hover , .product:hover{
        transform: scale(.9);
    }   
}

@media screen and (max-width : 600px) {
    .checkout__container{
        width: 98%;
        height: 55vh;
    }
    .description:hover , .product:hover{
        transform: scale(.9);
    } 
    .description ul{
        margin-bottom: 2rem;
    }
    
    .description li{
        margin-bottom: 1.5rem;
    }
}

@media screen and (max-width : 550px) {
    .checkout__container{
        width: 90%;
        height: fit-content;
        margin: 2rem auto;
        overflow: hidden;
        border-radius: 1rem;
        border: .2rem solid cornflowerblue;
    }
    
    .product{
        border-radius:none;
        width: 100%;
        height: fit-content;
        float: left;
        overflow: hidden;
        text-align: center;
        border: none;
    }
        
    .product  img {
        box-shadow: 0 0 1rem 1rem #545454;
        width: 100%;
        border-radius: 1rem;
        margin: 0 auto;
    }

    .description:hover , .product:hover{
        transform: scale(1);
        box-shadow: none;
    }    
    
    .description{
        width: 100%;
        height: fit-content;
        float: left;
        overflow: hidden;
        padding: 0;
        font-size: 2rem;
        color: cornflowerblue;
        text-transform: capitalize;
        font-family: sans-serif;
        border: none;
        border-radius: none;
    }
    
    .description ul{
        list-style: none;
        margin-bottom: 1rem;
    }
    
    .description li{
        margin-bottom: 1rem;
    }
    
    #checkout-button,#checkout-button:active{
        border: none;
        width: 100%;
        transition: none;
    }
    
    #checkout-button:hover{
        transform: scale(1);
    }
    
    #checkout-button:active{
        outline: none;
        transform: scale(1);
    }
    
}
/*------------------- ending of checkout container styling -----------------------*/

.terms{
    font-size: 1rem;
    color: #545454;
    width: 90%;
    margin:0 auto;
    margin-bottom: 2rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


/*------------------------------ container styling ----------------------------------*/

h1{
    color: cornflowerblue;
    font-family: sans-serif;
    font-size: 5rem;
}

main{
    border: .2rem solid cornflowerblue;
    border-radius: 1rem;
    width: 98%;
    margin:0 auto;
    height: 90vh;
    padding: 2rem;
    display: block;
}

@media screen and (max-width : 1200px) {    
    main{
        width: 98%;
        margin:0 auto;
        height: 80vh;
    }   
}

@media screen and (max-width : 860px) {    
    main{
        width: 98%;
        margin:0 auto;
        height: 60vh;
    }   
}
/*--------------------------- ending of container styling ----------------------------*/
