/*----------------common general styling -----------------*/
*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    overflow-x: hidden;
}

/*------------------------- ending of general styling -----------------------------*/


/*--------------------------------common navigation bar ----------------------------------*/

.header{
    /* background: #444444; */
    width: 98%;
    height: fit-content;
    overflow: hidden;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

/*--------- mobile and tablet navigation menu----------  */
/* show logo on popup menu for mobile and tablet */
.mobo__logo , .mobo__logo a:link,.mobo__logo a:visited,.mobo__logo a:active{
    text-decoration: none;
    float: left;
    color: #fff;
    font-size: 1.7rem;
    font-family: cursive;
    display: none;
}

/* to hide some of details from mobile popup menu initially */
#mobo_price__details{
    display: none;
}

/* button to open navigation menu on mobiles and tablet */
.mob__nav{
    padding: 1rem 2rem;
    float: right;
    margin: 1rem;
    cursor: pointer;
    display: none;
    border: none;
    border-radius: .5rem;
    box-shadow: 0 0 .5rem black;
    background:cornflowerblue url('../img/menu.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 4rem;
    width: 4rem;
}

/* popup menu div  */
.mobo_menu{
    position: absolute;
    background:rgba(0, 0, 0, 0.801);
    width: 80%;
    height: 100vh;
    padding: 2rem;
    right: 0%;
    position: fixed;
    top: 0%;
    overflow: hidden;
    z-index: 1000;
    display: none;
    animation-name: moveInLeft;
    animation-duration:1s ;
}

/* smooth moving animtion for popup mobo menu */
@keyframes moveInLeft{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}

/* container where both logo and close btn present on popup mobo menu  */
.close_nav_container{
    margin-bottom: 2rem;
    width: 100%;
    height: fit-content;
    text-align: right;
}

/* btn to close mobile menu  */
.close_nav{
    border: none;
    border-radius: .5rem;
    width: 4rem;
    height: 4rem;
    background:rgb(255, 255, 255) url('../img/close.png');
    background-repeat: no-repeat;
    background-position: center;
    padding: 2rem;
    cursor: pointer;
}

/* mobile menu unorder list styling */
.mobo_menu ul{
    width:100%;
    display: block;
    list-style: none;
    text-align: center;
}

/* mobile menu unorder list hr(horizontal line) */
.mobo_menu ul hr{
    width: 80%;
    border-bottom: none;
    margin: 0 auto;
    opacity: .5;
    border-top: .2rem solid cornflowerblue;
    border-radius: 2rem;
}

/* mobile menu unorder list li tag styling */
.mobo_menu ul li{
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    font-family: sans-serif;
    color: #fff;
    text-transform: capitalize;
}

.mobo_menu ul li a:link,
.mobo_menu ul li a:visited,
.mobo_menu ul li a:active{
    text-decoration: none;
    color: #fff;
    font-size: 1.7rem;
    font-family: sans-serif;
    text-transform: capitalize;
    transition: all .2s;
}

/*-------- ending of styling of mobile and tablet popup menu ------------ */

/* ----------desktop view for navigation tab-------------- */
/* unorder list  */
.nav__list{
    float: right;
    list-style-type: none;
    margin: .5rem;
    font-size: 1.6rem;
    font-family: cursive;
    color: cornflowerblue;
}

.nav__list li{
    display: inline;
    margin-left: 1rem;
}

.logo,.logo a:visited , .logo a:link,.logo a:active{
    text-decoration: none;
    float: left;
    margin: .5rem;
    width:fit-content;
    font-family:cursive;
    font-size: 2rem;
    color: cornflowerblue;
}


.nav__list li a:link,
.nav__list li a:visited,
.nav__list li a:active{
    text-decoration: none;
    color:cornflowerblue;
    text-transform: capitalize;
    padding:2rem;
    font-family: Arial, Helvetica, sans-serif;
    transition: all .2s;
}

.nav__list li a:hover{
    background: cornflowerblue;
    color: #fff;
}

/*------------------------ end of navigation bar styling------------------------------ */



/*----------------------------------- form container -------------------------------------*/

.form{
    width: 98%;
    margin: 5rem auto;
    border-radius: 2rem;
    padding: 5rem;
}

#form_details{
    width: 80%;
    margin: .5rem auto;
    overflow: hidden;
    height: fit-content;
    padding: 10rem;
    border-radius: 2rem;
}

#form_details label{
    color: #545454;
    font-size: 1.6rem;
    font-family: sans-serif;
    text-transform: capitalize;
    margin-right: 1rem;
}

#form_details input,
#form_details input:focus{
    display: inline-block;
    margin-bottom: 1rem;
    border: .2rem solid #545454;
    font-size: 1.6rem;
    font-family: sans-serif;
    border-radius: .5rem;
    margin-left: 1rem;
    padding: .5rem;
    background: #fff;
    color: #444444;
    outline: none;
}

.dimentions p{
    font-size: 1.7rem;
    font-family: sans-serif;
    color: #545454;
}

.dimentions p a:active ,
.dimentions p a:visited ,
.dimentions p a:link , 
.dimentions p a:focus{
    font-size: 2rem;
    color: cornflowerblue;
    font-family: sans-serif;
}

.select__currency {
    margin-bottom: 1rem;
}
  
.select__currency select {
    padding: .5rem;
    font-family: sans-serif;
    font-size: 1.6rem;  
    border-radius: .5rem;
    border: .2rem solid #545454;
    background: #fff;
    color: #444444;
}
 

/*------------------------------------ end of form container styling ---------------------------------*/



/*------------------------------------- button styling ----------------------------------------*/


.submitbtn{
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    background: #545454;
    color: #fff;
    float: right;
    cursor: pointer;
    font-size: 1.6rem;
    transition: all .2s;
    margin: 1rem;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
}

.submitbtn:hover{
    transform: scale(1.1);
}

.submitbtn:active{
    transform: scale(.9);
}


.submitbtn a:active,
.submitbtn a:link,
.submitbtn a:focus{
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
}

.btn:hover{
    transform:scale(1.1);
}

.btn:active{
    transform: scale(.9);
}

/*----------------------------------------- ending of button styling ----------------------------------*/
/*----------------------- about section styling ----------------------*/
.about__container{
    border: .2rem solid cornflowerblue;
    border-radius: 1rem;
    width: 98%;
    margin:1rem auto;
    height: fit-content;
    padding: 2rem;
    display: block;
}
.about__container h2{
    color: cornflowerblue;
    font-family: sans-serif;
    font-size: 3rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
}
.primary__content{
    width: 100%;
    font-family: sans-serif;
    padding: 1rem;
}

h3{
    color: cornflowerblue;
    font-size: 2rem;
    margin-bottom: .5rem;
    text-transform: capitalize;
}
.primary__content-para{
    padding: 1rem;
}

.primary__content-para p:not(:last-child){
    margin-bottom: 1rem;
}

.primary__content p{
    color: #444444;
    font-size: 1.7rem;
}

.pixels__info__content{
    padding: 1rem;
    font-family: sans-serif;
}

#trial__container{
    padding: 1rem;
}

#trial__container p{
    padding: 1rem;
    color: #444444;
    font-size: 1.7rem;
}

h4{
    color: royalblue;
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

.input__box{
    padding: 1rem;
    width: 100%;
    text-align: center;
}
.input__box label{
    color: #444444;
    font-size: 1.5rem;
    margin-right: 2rem;
}
.input__box input{
    padding: 1rem;
    font-size: 1.7rem;
    width: 25%;
}
#checkBtn{
    width: 20%;
    padding: 1rem 3rem;
    text-align: center;
    text-transform: capitalize;
    background: cornflowerblue;
    color: #fff;
    border: none;
    font-size: 1.7rem;
    border-radius: 1rem;
    transition: all .1s;
    cursor: pointer;
}

#checkBtn:hover{
    transform: scale(1.1);
}

.pixels__secondary-content{
    padding: 1rem;
}

.pixels__secondary-content h3{
    margin-bottom: 2rem;
}

.img-container,.img-container2{
    width: 100%;
    padding: 2rem;
    overflow: hidden;
}
.img1_container,.img2_container , .img3_container,.img4_container{
    width: 50%;
    text-align: center;
    float: left;
}
.contents__container{
    width: 100%;
    padding: 2rem;
    font-family: sans-serif;
    font-size: 1.7rem;
    color: #444444;
}
.example__container{
    padding: 1rem;
    font-size: 1.7rem;
    font-family: sans-serif;
    color: #444444;
}
.example__container p{
    padding: 1rem;
}
.example__images-container{
    width: 100%;
    overflow: hidden;
}
.example__images-container img{
    float: left;
    padding: 3rem;
}
.example__content-container{
    padding: 2rem;
}
.imp{
    font-size: 2rem;
    color: indianred;
    font-family: sans-serif;
}
/*----------------------- ending of about section styling ------------------*/
/*--------------------------------------- canvas styling -----------------------------------*/
.canvas__element{
    margin: 5rem;
    text-align: center;
}

#check__canvas{
    border: thin solid #444444;
}

#canvas{
    border: thin solid #545454;
    cursor: pointer;   
}


body{
    background-size: cover;
}

body::-webkit-scrollbar {
    width: .5rem;
  }
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.705);
  }
   
body::-webkit-scrollbar-thumb {
    background-color: rgb(78, 157, 236);
    outline: 1px solid rgb(73, 138, 202);
    border-radius: 2rem;
    scroll-behavior: smooth;
}

/*----------------------------------- ending of canvas styling ------------------------------------*/
/*----------------------------------------- popup styling -----------------------------------------*/
#backdrop{
    width: 100%;
    height: 98vh;
    position: absolute;
    top:0%;
    z-index: 1000;
    opacity: .9;
    display: none;
    background-color: #000;
    cursor: pointer;
    padding: 2rem;
}

.popUpImage{
    width: 50%;
    height: 85vh;
    display: inline;
    float: left;
    text-align: center;
    padding: 2rem;
}

.popUpImage img{
    width: 50%;
    margin-top: 15rem ;
}

.popUpLink{
    width: 50%;
    padding: 2rem;
    text-align: center;
    height: 85vh;
    display: inline;
    float: left;
    overflow: hidden;
}
.popUpLink a:active ,
.popUpLink a:visited,
.popUpLink a{
    color: cornflowerblue;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 2rem;
    display: block;
}

.popUpLink p{
    margin-top: 15rem;
}

/*------------------------------------ popUp styling end ------------------------------------------*/

/*--------------------------------------- error container styling ------------------------------*/
.error{
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgba(252, 137, 137, 0.733);
  width:40%;
  text-align: center;
  border: .1rem solid  #ff0000;
  border-radius: 1rem;
  padding: 1rem;
  color: #545454;
  text-transform: capitalize;
  font-size: 1.1rem;
  margin: 1rem auto;
  font-family: sans-serif;
  box-shadow: 0rem 0rem .9rem .1rem #ff0000;
}

/*---------------------- ending of error container styling --------------------------*/


/*----------------------------- checkout container styling -------------------------*/
.checkout__container{
    width: 60%;
    height: 80vh;
    margin: 4rem auto;
    padding: 5rem;
}

.product{
    border-radius: 1rem;
    width: 45%;
    height: 100%;
    float: left;
    overflow: hidden;
    padding: 1rem;
    text-align: center;
    border: .2rem solid cornflowerblue;
    margin-right: 10%;
    cursor: pointer;
    transition: all .2s;
}

.description:hover , .product:hover{
    transform: scale(1.1);
    box-shadow: 0 0 1rem 1rem cornflowerblue;
}


.product  img {
    box-shadow: 0 0 1rem 1rem #545454;
    width: 80%;
    border-radius: 1rem;
    margin: 14rem auto;
}

.description{
    width: 45%;
    height: 100%;
    float: left;
    overflow: hidden;
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    color: cornflowerblue;
    text-transform: capitalize;
    font-family: sans-serif;
    border: .2rem solid cornflowerblue;
    border-radius: 1rem;
    cursor: pointer;
    transition: all .2s;
}

.description ul{
    list-style: none;
    margin-bottom: 5rem;
}

.description li{
    margin-bottom: 2rem;
}

#checkout-button,#checkout-button:active{
    border: none;
    width: 80%;
    border-radius: .5rem;
    background: cornflowerblue;
    color: #fff;
    font-size: 1.6rem;
    font-family: sans-serif;
    padding: 1rem;
    cursor: pointer;
    transition: all .2s;
}

#checkout-button:hover{
    transform: scale(1.1);
}

#checkout-button:active{
    outline: none;
    transform: scale(.9);
}

/*------------------- ending of checkout container styling -----------------------*/

.terms{
    font-size: 1rem;
    color: #545454;
    width: 100%;
    margin-bottom: 2rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


/*------------------------------ container styling ----------------------------------*/

h1{
    color: cornflowerblue;
    font-family: sans-serif;
    font-size: 5rem;
}

main{
    border: .2rem solid cornflowerblue;
    border-radius: 1rem;
    width: 98%;
    margin:0 auto;
    height: 90vh;
    padding: 2rem;
    display: block;
}

/*--------------------------- ending of container styling ----------------------------*/

/*-------------------------- @media screen and (min-width:144rem) and (max-width:256rem)------------------------------- */
@media screen and (min-width:144rem) and (max-width:256rem) {
    /*------ form page -----------*/
    .terms{
        font-size: 2rem;
    }
    #form_details label{
        font-size: 2.5rem;
    }
    #form_details input,
    #form_details input:focus{
        font-size: 2.5rem;
        padding: 1rem;
    }
    .select__currency select{
        padding: 1rem;
        font-size: 2.5rem;
    }
    .submitbtn{
        padding: 2rem;
        font-size: 2.5rem;
    }
    .input__box input{
        width: 30%;
        font-size: 2rem;
    }
    .input__box label{
        font-size: 2rem;
        margin-right: 2.5rem;
    }
    #checkBtn{
        font-size: 2rem;
    }
    .error{
        font-size: 2.5rem;
    }
}
/*--------------------------ending @media screen and (min-width:144rem) and (max-width:256rem)------------------------- */

/* -------------------------- @media screen and (min-width:102.4rem) and (max-width:113rem)---------------------------- */
@media screen and (min-width:102.4rem) and (max-width:143rem){
    #form_details label{
        font-size: 2rem;
    }
}
/*-----------------------------ending @media screen and (min-width:102.4rem) and (max-width:113rem)---------------------- */


/* ----------------------@media screen and (min-width:76.8rem) and (max-width:102.3rem)----------------------------------- */
@media screen and (min-width:76.8rem) and (max-width:102.3rem) {
    .checkout__container{
        width: 40%;
        padding: .1rem;
        margin:1rem auto;
    }
    .product{
        width: 100%;
        display: block;
        height: fit-content;
        padding: .5rem;
        margin-right: 0;
        border-bottom: none;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .product  img {
        width: 30%;
        margin: .5rem auto;
        box-shadow: 0 0 .5rem .5rem #545454;
    }
    .description{
        width: 100%;
        display: block;
        height: fit-content;
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin:1rem auto;
    }
    .description:hover , .product:hover{
        transform: scale(1);
        box-shadow: none;
    }
}
/* ----------------------ending @media screen and (min-width:76.8rem) and (max-width:102.3rem)----------------------------------- */

/* ------------------------------@media screen and (min-width:42.5rem) and (max-width:76.7rem)------------------------------ */
@media screen and (max-width:76.8rem) {
    .mobo__logo , .mobo__logo a:link,.mobo__logo a:visited,.mobo__logo a:active{
        display: block;
    }
    .mob__nav{
        display: block;
    }
    #nav__btn{
        display: none;
    }
    #price__details{
        display: block;
    }
    #pixel__destails{
        display: block;
    }
    #form_details{
        width: 90%;
        padding: 7rem;
    }
    #form_details label{
        font-size: 2rem;
        display: block;
        width: 100%;
    }
    #form_details input,
    #form_details input:focus{
    display: block;
    width: 100%;
    font-size: 2rem;
    }
    .error{
        font-size: 2rem;
    }
    .pixels__secondary-content{
        padding: 0;
    }
    .img-container,.img-container2{
        padding: 1rem;
        display: block;
    }
    .img1_container,.img2_container,.img3_container,.img4_container{
        width: 100%;
        display: block;
        text-align: center;
    }
    .checkout__container{
        width: 100%;
        padding: .5rem;
        margin: 0 auto;
    }
    .product{
        width: 100%;
        display: block;
        height: fit-content;
        padding: .5rem;
        margin-right: 0;
        border-bottom: none;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .product  img {
        width: 80%;
        margin: .5rem auto;
        box-shadow: 0 0 .5rem .5rem #545454;
    }
    .description{
        width: 100%;
        display: block;
        height: fit-content;
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin-bottom: 1rem;
    }
    .description:hover , .product:hover{
        transform: scale(1);
        box-shadow: none;
    }
}
/* ----------------------------ending @media screen and (min-width:42.5rem) and (max-width:76.7rem)------------------------------ */

/*-------------------------------- @media screen and (min-width:37.5rem) and (max-width:42.4rem)--------------------------------- */
@media screen and (max-width:42.5rem) {
    #price__details{
        display: none;
    }    
    #pixels__details{
        display: none;
    }
    .mob__nav{
        margin-right: 2rem;
    }
    #mobo_price__details{
        display: block;
    }
    .mobo_menu{
        width: 100%;
    }
    #form_details{
        padding-top: 8rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    #form_details label{
        display: block;
        width: 100%;
    }
    #form_details input,
    #form_details input:focus{
        display: block;
        width: 100%;
    }
    .error{
        font-size: 1.5rem;
    }
    .popUpImage{
        width: 100%;
        height: fit-content;
        display: block;
    }
    .popUpLink{
        width: 100%;
        height: fit-content;
        display: block;
    }
    .terms{
        font-size: 1.7rem;
    }
    .input__box{
        padding: .5rem;
        text-align: unset;
    }
    .input__box label{
        width: 100%;
        display: block;
    }
    .input__box input{
        padding: .5rem;
        width: 100%;
        display: block;
    }
    #checkBtn{
        width: 100%;
    }
    .canvas__element{
        margin: 1rem;
    }
    .img-container,.img-container2{
        width: 100%;
        padding: .5rem;
        display: block;
    }
    .img1_container,.img2_container , .img3_container,.img4_container{
        width: 100%;
        display: block;
        overflow: hidden;
    }
    .img1,.img2,.img3,.img4{
        width: 100%;
    }
    .imgeg{
        width: 100%;
    }
}
/*--------------------------------ending @media screen and (min-width:37.5rem) and (max-width:42.4rem)--------------------------------- */

/* --------------------------------------@media screen and (min-width:32rem) and (max-width:37.4rem)--------------------------------- */
@media screen and (max-width:37.5rem) {
    #form_details{
        /* background: coral; */
        width: 100%;
        padding: .5rem;
    }
    #form_details label{
        display: block;
        width: 100%;
        font-size: 1.2rem;
        margin-right: .5rem;
    }
    #form_details input,
    #form_details input:focus{
        display: block;
        width: 100%;
        margin-bottom: 1rem;
        font-size: 1.2rem;
        margin-left: 0rem;
        padding: .5rem;
    }
    .dimentions p{
        font-size: 1rem;
    }
    
    .dimentions p a:active ,
    .dimentions p a:visited ,
    .dimentions p a:link , 
    .dimentions p a:focus{
        font-size: 1.2rem;
    }
    .submitbtn{
        display: block;
        width: 100%;
        margin: .5rem;
    }
    .error{
        font-size: 1rem;
    }
    .select__currency select{
        width: 100%;
        font-size: 1.2rem;
    }
    .canvas__element{
        margin: 0rem;
    }
    #backdrop{
        padding: .5rem;
        height: 100%;
    }
    .popUpImage{
        width: 100%;
        height: fit-content;
        padding: .5rem;
    }
    .popUpImage img{
        margin-top: 1.5rem;
    }
    .popUpLink{
        width: 100%;
        height: fit-content;
    }
    .popUpLink p{
        margin-top: 1.5rem;
    }
    .checkout__container{
        width: 100%;
        padding: .5rem;
        margin: 0 auto;
    }
    .product{
        width: 100%;
        display: block;
        height: fit-content;
        padding: .5rem;
        margin-right: 0;
        border-bottom: none;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .product  img {
        width: 80%;
        margin: .5rem auto;
        box-shadow: 0 0 .5rem .5rem #545454;
    }
    .description{
        width: 100%;
        display: block;
        height: fit-content;
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin-bottom: 1rem;
    }
    .description:hover , .product:hover{
        transform: scale(1);
        box-shadow: none;
    }
}
/* -------------------------------------ending @media screen and (min-width:32rem) and (max-width:37.4rem)--------------------------------- */
@media screen and (max-width:32rem) {
    .canvas__element{
        margin: 0;
        padding: 0;
    }
    .about__container{
        margin: 1rem auto;
        padding: .5rem;
    }
}