<%- include('includes/header.ejs') %> 
<%- include('includes/nav.ejs', {path : path ,newPath:newPath,sold : sold , left : left}) %>
<main>
  <h1><%= errmsg %></h1>
</main>
<!-- <script src="./js/menu.js"></script> -->
<%- include('includes/footer.ejs') %>



