<%- include('includes/header.ejs') %>
<%- include('includes/nav.ejs',{ path : path , sold : sold , left : left}) %>
<template class="tooltip" id="tooltip">
  <a href=""></a>
</template>
    <div class="canvas__container">
      <canvas id="canvas">Not Supported!!!</canvas>      
    </div>
    <footer>
      <p class="terms"><%= terms %></p>
    </footer>
</body>
<script src="./js/bundle.js"></script>
</html>
  
  
