<%- include('includes/header.ejs') %>
<%- include('includes/nav.ejs',{ path : path , sold : sold , left : left}) %>
    <div id="backdrop"></div>
      <canvas id="canvas">Not Supported!!!</canvas>      
    <footer>
      <p class="terms"><%= terms %></p>
    </footer>
</body>
<script src="./js/bundle.js"></script>
<script src="./js/menu.js"></script>
</html>
  
  
