<%- include('includes/header.ejs') %>
<%- include('includes/nav.ejs', {path : path , sold : sold , left : left}) %>
<main>
    <h1><%= successMsg %></h1>
</main>    
<script src="./js/menu.js"></script>
<%- include('includes/footer.ejs') %>