<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="million,zillion,jillion.com,jillion,.com,com,marketing,entrepreneur,internet,jitendra kumar,jitendra,kumar,website,business,idea, advertising , ad , ads, links ,pixels,pixel,pix,homepage,home,page,own,history">
    <meta name="description" content="the website of jitendra kumar,an entrepreneur,selling ad space for $2 each">
    <meta name="robots" content="all">
    <meta name="author" content="jitendra kumar">
    <link rel="stylesheet" href="/css/stylemini.css">
    <title><%= pageTitle %></title>
</head>
<body>

