<div class="header">
    <span class="logo">jillionpix.com</span>
  <ul class="nav__list">
    <li>15000000 pixels</li>
    <li>1px = $2</li>
    <li>sold = <span id="soldPixels"><%= sold %></span></li>
    <li>left = <span id="leftPixels"><%= left %></span></li>
    <li><a class="twitter-follow-button" href="https://twitter.com/jcoolkumar">support</a></li>
    <li>
      <% if(path === '/form'){ %>
        <a href="/details" id="buyBtn">buy</a>
      <%} else {%>
        <a href="/">Home</a>  
      <% } %>
    </li>
  </ul>
</div>



